# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/api-data.txt
# testing
/coverage
/src/future-components
# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/redux/redux.js
TODO.txt
questions.txt
optional color sets.txt
.gitignore
